body{
    background-color:blanchedalmond;
}

h1{
    font-family: basic-sans,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}


.container-navigation{
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

button{
    border: none;
    background-color: blanchedalmond;
    border-radius: 5px;
    font-family: basic-sans, sans-serif;
    font-size: larger;
    padding: 20px;
    margin: 30px;
    transition-duration: .4s;
}

button:hover {
    background-color: teal;
    color: white;
}

a:hover{
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

ul{
    list-style-type: none;
    padding: 5px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


footer {
    background-color: teal;
    height: 1px;
    font-family: basic-sans, sans-serif;
    font-size:small;
    color: white;
    text-align: center;
    padding: 3px;
}

.section-one{
    height: 600px;
    font-family: basic-sans, sans-serif;
    font-size: large;
    text-align: center;
    box-shadow: none;
}

h4{
    font-family: basic-sans, sans-serif;
    font-size: large;
    text-align: center;
}

h5{
    font-family: basic-sans, sans-serif;
    font-size: 10px;
    text-align: center;
}

p{
    font-family: basic-sans, sans-serif;
    font-size: 14px;
    text-align: center;
}

.flexgrow-container {
    display: flex;
}

.carp1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    width: 297px;
    height: 650px; 
}

.carp2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    width: 297px;
    height: 650px;
}

.carp3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 50px;
    width: 297px;
    height: 650px;
}

.typ1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ6{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ7{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

.typ8{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 500px;
    padding: 50px;
}

img{
    border-radius: 8px;
}

